<div class="table-container">
  <div class="table-wrapper">
      <h2>March Q1 Call Options</h2>
      <table border="1" style="border-collapse: collapse;">
        <tr style="background-color: lightgray;">
          <th style="padding: 8px;">#</th>
          <th style="padding: 8px;">Instrument Name</th>
          <th style="padding: 8px;">WEEKLY BLOCK LIQUIDITY</th>
          <th style="padding: 8px;">T1 --> WEEKLY DIFFERENCE</th>
          <th style="padding: 8px;">T7 --> WEEKLY DIFFERENCE</th>
          <th style="padding: 8px;">MONTHLY BLOCK LIQUIDITY</th>
          <th style="padding: 8px;">T1 --> MONTHLY DIFFERENCE</th>
          <th style="padding: 8px;">T7 --> MONTHLY DIFFERENCE</th>
        </tr>
        {% for option in data_call_march %}
        <tr style="background-color: lightgreen;">
          <td style="padding: 8px;background-color: ghostwhite;">{{ loop.index }}</td>
          <td style="padding: 8px;background-color: ghostwhite;">{{ option[0] }}</td>
          <td style="padding: 8px;">{{ option[1] }}</td>
          <td style="padding: 8px;background-color: papayawhip;">{{ option[3] }}</td>
          <td style="padding: 8px;background-color: powderblue;">{{ option[5] }}</td>
          <td style="padding: 8px;">{{ option[2] }}</td>
          <td style="padding: 8px;background-color: papayawhip;">{{ option[4] }}</td>
          <td style="padding: 8px;background-color: powderblue;">{{ option[6] }}</td>
        </tr>
        {% endfor %}
      </table>
    </div>

    <div class="table-wrapper">
        <h2>March Ratio</h2>
        <table border="1" style="border-collapse: collapse;">
          <tr style="background-color: lightgray;">
            <th style="padding: 8px;">Put / Call Ratio</th>
          </tr>
          <tr style="background-color: whitesmoke;">
            <td style="padding: 8px;font-weight: bold;">{{ data_march_pc_ratio|round(2) }}</td>
          </tr>
        </table>
    </div>

    <div class="table-wrapper">
        <h2>March Q1 Put Options</h2>
        <table border="1" style="border-collapse: collapse;">
          <tr style="background-color: lightgray;">
            <th style="padding: 8px;">#</th>
            <th style="padding: 8px;">Instrument Name</th>
            <th style="padding: 8px;">WEEKLY BLOCK LIQUIDITY</th>
            <th style="padding: 8px;">T1 --> WEEKLY DIFFERENCE</th>
            <th style="padding: 8px;">T7 --> WEEKLY DIFFERENCE</th>
            <th style="padding: 8px;">MONTHLY BLOCK LIQUIDITY</th>
            <th style="padding: 8px;">T1 --> MONTHLY DIFFERENCE</th>
            <th style="padding: 8px;">T7 --> MONTHLY DIFFERENCE</th>
          </tr>
          {% for option in data_put_march %}
          <tr style="background-color: lightpink;">
            <td style="padding: 8px;background-color: ghostwhite;">{{ loop.index }}</td>
            <td style="padding: 8px;background-color: ghostwhite;">{{ option[0] }}</td>
            <td style="padding: 8px;">{{ option[1] }}</td>
            <td style="padding: 8px;background-color: papayawhip;">{{ option[3] }}</td>
            <td style="padding: 8px;background-color: powderblue;">{{ option[5] }}</td>
            <td style="padding: 8px;">{{ option[2]|int }}</td>
            <td style="padding: 8px;background-color: papayawhip;">{{ option[4] }}</td>
            <td style="padding: 8px;background-color: powderblue;">{{ option[6] }}</td>
          </tr>
          {% endfor %}
        </table>
      </div>
</div>

<div class="table-container">
    <div class="table-wrapper">
      <h2>June Q2 Call Options</h2>
      <table border="1" style="border-collapse: collapse;">
        <tr style="background-color: lightgray;">
          <th style="padding: 8px;">#</th>
          <th style="padding: 8px;">Instrument Name</th>
          <th style="padding: 8px;">WEEKLY BLOCK LIQUIDITY</th>
          <th style="padding: 8px;">T1 --> WEEKLY DIFFERENCE</th>
          <th style="padding: 8px;">T7 --> WEEKLY DIFFERENCE</th>
          <th style="padding: 8px;">MONTHLY BLOCK LIQUIDITY</th>
          <th style="padding: 8px;">T1 --> MONTHLY DIFFERENCE</th>
          <th style="padding: 8px;">T7 --> MONTHLY DIFFERENCE</th>
        </tr>
        {% for option in data_call_june %}
        <tr style="background-color: lightgreen;">
          <td style="padding: 8px;background-color: ghostwhite;">{{ loop.index }}</td>
          <td style="padding: 8px;background-color: ghostwhite;">{{ option[0] }}</td>
          <td style="padding: 8px;">{{ option[1] }}</td>
          <td style="padding: 8px;background-color: papayawhip;">{{ option[3] }}</td>
          <td style="padding: 8px;background-color: powderblue;">{{ option[5] }}</td>
          <td style="padding: 8px;">{{ option[2]|int }}</td>
          <td style="padding: 8px;background-color: papayawhip;">{{ option[4] }}</td>
          <td style="padding: 8px;background-color: powderblue;">{{ option[6] }}</td>
        </tr>
        {% endfor %}
      </table>
    </div>

    <div class="table-wrapper">
        <h2>June Ratio</h2>
        <table border="1" style="border-collapse: collapse;">
          <tr style="background-color: lightgray;">
            <th style="padding: 8px;">Put / Call Ratio</th>
          </tr>
          <tr style="background-color: whitesmoke;">
            <td style="padding: 8px;font-weight: bold;">{{ data_june_pc_ratio|round(2) }}</td>
          </tr>
        </table>
    </div>

    <div class="table-wrapper">
      <h2>June Q2 Put Options</h2>
      <table border="1" style="border-collapse: collapse;">
        <tr style="background-color: lightgray;">
          <th style="padding: 8px;">#</th>
          <th style="padding: 8px;">Instrument Name</th>
          <th style="padding: 8px;">WEEKLY BLOCK LIQUIDITY</th>
          <th style="padding: 8px;">T1 --> WEEKLY DIFFERENCE</th>
          <th style="padding: 8px;">T7 --> WEEKLY DIFFERENCE</th>
          <th style="padding: 8px;">MONTHLY BLOCK LIQUIDITY</th>
          <th style="padding: 8px;">T1 --> MONTHLY DIFFERENCE</th>
          <th style="padding: 8px;">T7 --> MONTHLY DIFFERENCE</th>
        </tr>
        {% for option in data_put_june %}
        <tr style="background-color: lightpink;">
          <td style="padding: 8px;background-color: ghostwhite;">{{ loop.index }}</td>
          <td style="padding: 8px;background-color: ghostwhite;">{{ option[0] }}</td>
          <td style="padding: 8px;">{{ option[1] }}</td>
          <td style="padding: 8px;background-color: papayawhip;">{{ option[3] }}</td>
          <td style="padding: 8px;background-color: powderblue;">{{ option[5] }}</td>
          <td style="padding: 8px;">{{ option[2] }}</td>
          <td style="padding: 8px;background-color: papayawhip;">{{ option[4] }}</td>
          <td style="padding: 8px;background-color: powderblue;">{{ option[6] }}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>

<div class="table-container">
    <div class="table-wrapper">
      <h2>September Q3 Call Options</h2>
      <table border="1" style="border-collapse: collapse;">
        <tr style="background-color: lightgray;">
          <th style="padding: 8px;">#</th>
          <th style="padding: 8px;">Instrument Name</th>
          <th style="padding: 8px;">WEEKLY BLOCK LIQUIDITY</th>
          <th style="padding: 8px;">T1 --> WEEKLY DIFFERENCE</th>
          <th style="padding: 8px;">T7 --> WEEKLY DIFFERENCE</th>
          <th style="padding: 8px;">MONTHLY BLOCK LIQUIDITY</th>
          <th style="padding: 8px;">T1 --> MONTHLY DIFFERENCE</th>
          <th style="padding: 8px;">T7 --> MONTHLY DIFFERENCE</th>
        </tr>
        {% for option in data_call_sep %}
        <tr style="background-color: lightgreen;">
          <td style="padding: 8px;background-color: ghostwhite;">{{ loop.index }}</td>
          <td style="padding: 8px;background-color: ghostwhite;">{{ option[0] }}</td>
          <td style="padding: 8px;">{{ option[1] }}</td>
          <td style="padding: 8px;background-color: papayawhip;">{{ option[3] }}</td>
          <td style="padding: 8px;background-color: powderblue;">{{ option[5] }}</td>
          <td style="padding: 8px;">{{ option[2] }}</td>
          <td style="padding: 8px;background-color: papayawhip;">{{ option[4] }}</td>
          <td style="padding: 8px;background-color: powderblue;">{{ option[6] }}</td>
        </tr>
        {% endfor %}
      </table>
    </div>

    <div class="table-wrapper">
        <h2>September Ratio</h2>
        <table border="1" style="border-collapse: collapse;">
          <tr style="background-color: lightgray;">
            <th style="padding: 8px;">Put / Call Ratio</th>
          </tr>
          <tr style="background-color: whitesmoke;">
            <td style="padding: 8px;font-weight: bold;">{{ data_sep_pc_ratio|round(2) }}</td>
          </tr>
        </table>
    </div>

    <div class="table-wrapper">
      <h2>September Q3 Put Options</h2>
      <table border="1" style="border-collapse: collapse;">
        <tr style="background-color: lightgray;">
          <th style="padding: 8px;">#</th>
          <th style="padding: 8px;">Instrument Name</th>
          <th style="padding: 8px;">WEEKLY BLOCK LIQUIDITY</th>
          <th style="padding: 8px;">T1 --> WEEKLY DIFFERENCE</th>
          <th style="padding: 8px;">T7 --> WEEKLY DIFFERENCE</th>
          <th style="padding: 8px;">MONTHLY BLOCK LIQUIDITY</th>
          <th style="padding: 8px;">T1 --> MONTHLY DIFFERENCE</th>
          <th style="padding: 8px;">T7 --> MONTHLY DIFFERENCE</th>
        </tr>
        {% for option in data_put_sep %}
        <tr style="background-color: lightpink;">
          <td style="padding: 8px;background-color: ghostwhite;">{{ loop.index }}</td>
          <td style="padding: 8px;background-color: ghostwhite;">{{ option[0] }}</td>
          <td style="padding: 8px;">{{ option[1] }}</td>
          <td style="padding: 8px;background-color: papayawhip;">{{ option[3] }}</td>
          <td style="padding: 8px;background-color: powderblue;">{{ option[5] }}</td>
          <td style="padding: 8px;">{{ option[2] }}</td>
          <td style="padding: 8px;background-color: papayawhip;">{{ option[4] }}</td>
          <td style="padding: 8px;background-color: powderblue;">{{ option[6] }}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
</div>

<style>
.table-container {
  display: flex;
}

.table-wrapper {
  margin-right: 10px;
}

th {
  font-size: 15px; /* or any other size you want */
}

td {
  font-size: 14px; /* or any other size you want */
}

h {
  padding: 14px;
  text-align: center;
}

</style>
