
<h2>Delta 25 Skew</h2>
<p>The 25 delta (25∆) skew measures the price of a call option with a delta of 0.25 and the price of a put option that has a delta of 0.25.
<b>If the skew increases then puts are becoming more expensive than calls</b>; if the skew decreases, call premiums are going up against puts premiums.
A positive value indicates puts are coming more expensive.</br>
Note: T1, T7 and T30 values are based off an average over 1 day, 7 days and 30 days respectively and <b>then compared with current 1D average</b>.  T1 is yesterday's 1D file.
T7 and T30 have no previous file, rather just an average over 7 / 30 days etc...
</p>

<div class="table-container">
  <div class="table-wrapper eth-wrapper">
      <h3>ETH</h3>
      <table border="1" style="border-collapse: collapse;">
        <tr style="background-color: lightgray;">
          <th style="padding: 8px;">Current (25 Delta Skew)</th>
          <th style="padding: 8px;">T1 (25 Delta Skew)</th>
          <th style="padding: 8px;">T1 (+ puts / - calls) </th>
          <th style="padding: 8px;">T7 (25 Delta Skew)</th>
          <th style="padding: 8px;">T7 (+ puts / - calls)</th>
          <th style="padding: 8px;">T30 (25 Delta Skew)</th>
          <th style="padding: 8px;">T30 (+ puts / - calls)</th>
        </tr>
        <tr style="background-color: lightgreen;">
          <td style="padding: 8px;background-color: lightgreen;">{{ data_avg_skew_eth }}</td>
          <td style="padding: 8px;background-color: pink;">{{ data_avg_skew_eth_t1 }}</td>
          <td style="padding: 8px;background-color: ghostwhite;">{{ data_diff_eth_t1 }}</td>
          <td style="padding: 8px;background-color: lightblue;">{{ data_avg_skew_eth_t7 }}</td>
          <td style="padding: 8px;background-color: ghostwhite;">{{ data_diff_eth_t7 }}</td>
          <td style="padding: 8px;background-color: lightblue;">{{ data_avg_skew_eth_t30 }}</td>
          <td style="padding: 8px;background-color: ghostwhite;">{{ data_diff_eth_t30 }}</td>
        </tr>
      </table>
    </div>
    <div class="table-wrapper btc-wrapper">
        <h3>BTC</h3>
        <table border="1" style="border-collapse: collapse;">
          <tr style="background-color: lightgray;">
            <th style="padding: 8px;">Current (25 Delta Skew)</th>
            <th style="padding: 8px;">T1 (25 Delta Skew)</th>
            <th style="padding: 8px;">T1 (+ puts / - calls)</th>
            <th style="padding: 8px;">T7 (25 Delta Skew)</th>
            <th style="padding: 8px;">T7 (+ puts / - calls)</th>
            <th style="padding: 8px;">T30 (25 Delta Skew)</th>
            <th style="padding: 8px;">T30 (+ puts / - calls)</th>
          </tr>
          <tr style="background-color: lightgreen;">
            <td style="padding: 8px;background-color: lightgreen;">{{ data_avg_skew_btc }}</td>
            <td style="padding: 8px;background-color: pink;">{{ data_avg_skew_btc_t1 }}</td>
            <td style="padding: 8px;background-color: ghostwhite;">{{ data_diff_btc_t1 }}</td>
            <td style="padding: 8px;background-color: lightblue;">{{ data_avg_skew_btc_t7 }}</td>
            <td style="padding: 8px;background-color: ghostwhite;">{{ data_diff_btc_t7 }}</td>
            <td style="padding: 8px;background-color: lightblue;">{{ data_avg_skew_btc_t30 }}</td>
            <td style="padding: 8px;background-color: ghostwhite;">{{ data_diff_btc_t30 }}</td>
          </tr>
        </table>
      </div>
</div>

<h2>Time Lapse Skew</h2>
<p>
Selecting Delta and not strike and only delta 25, it compares Today's, Yesterday's, 1 Week ago's and 1 Month's ago IV levels.
<b> Are vol levels increasing or decreasing?  Over a day / week / month?  NOTE this can be based off any expiry - depends what is downloaded.  I'm using APR 28th at the moment</b>
</p>

<div class="table-container">
  <div class="table-wrapper eth-wrapper">
      <h3>ETH</h3>
      <table border="1" style="border-collapse: collapse;">
        <tr style="background-color: lightgray;">
          <th style="padding: 8px;">Current (25 Delta IV)</th>
          <th style="padding: 8px;">Yesterday's (25 Delta IV)</th>
          <th style="padding: 8px;">T1 Difference</th>
          <th style="padding: 8px;">Last Week's (25 Delta IV)</th>
          <th style="padding: 8px;">T7 Difference</th>
          <th style="padding: 8px;">Last Months's (25 Delta IV)</th>
          <th style="padding: 8px;">T30 Difference</th>
        </tr>
        <tr style="background-color: lightgreen;">
          <td style="padding: 8px;background-color: lightgreen;">{{ data_eth_iv_today }}</td>
          <td style="padding: 8px;background-color: pink;">{{ data_eth_iv_yesterday }}</td>
          <td style="padding: 8px;background-color: ghostwhite;">{{ data_eth_iv_yesterday_chg }}</td>
          <td style="padding: 8px;background-color: lightblue;">{{ data_eth_iv_last_week }}</td>
          <td style="padding: 8px;background-color: ghostwhite;">{{ data_eth_iv_last_week_chg }}</td>
          <td style="padding: 8px;background-color: lightblue;">{{ data_eth_iv_last_month }}</td>
          <td style="padding: 8px;background-color: ghostwhite;">{{ data_eth_iv_last_month_chg }}</td>
        </tr>
      </table>
    </div>
    <div class="table-wrapper btc-wrapper">
        <h3>BTC</h3>
        <table border="1" style="border-collapse: collapse;">
          <tr style="background-color: lightgray;">
            <th style="padding: 8px;">Current (25 Delta IV)</th>
            <th style="padding: 8px;">Yesterday's (25 Delta IV)</th>
            <th style="padding: 8px;">T1 Difference</th>
            <th style="padding: 8px;">Last Week's (25 Delta IV)</th>
            <th style="padding: 8px;">T7 Difference</th>
            <th style="padding: 8px;">Last Months's (25 Delta IV)</th>
            <th style="padding: 8px;">T30 Difference</th>
          </tr>
          <tr style="background-color: lightgreen;">
            <td style="padding: 8px;background-color: lightgreen;">{{ data_btc_iv_today }}</td>
            <td style="padding: 8px;background-color: pink;">{{ data_btc_iv_yesterday }}</td>
            <td style="padding: 8px;background-color: ghostwhite;">{{ data_btc_iv_yesterday_chg }}</td>
            <td style="padding: 8px;background-color: lightblue;">{{ data_btc_iv_last_week }}</td>
            <td style="padding: 8px;background-color: ghostwhite;">{{ data_btc_iv_last_week_chg }}</td>
            <td style="padding: 8px;background-color: lightblue;">{{ data_btc_iv_last_month }}</td>
            <td style="padding: 8px;background-color: ghostwhite;">{{ data_btc_iv_last_month_chg }}</td>
          </tr>
        </table>
    </div>
</div>


<h2>Delta Multi Expiry Skew Comparison</h2>
<p>
<b>ETH Multi Expiry Skew from Laevitas</b>. Using a 25 Delta, a comaprison of IV across expiries along with % diff against Q1 for comparison.  A higher neagive values
indicates a higher IV further out.
</p>
<div class="table-container">
  <div class="table-wrapper eth-wrapper">
      <h3>ETH</h3>
      <table border="1" style="border-collapse: collapse;">
        <tr style="background-color: lightgray;">
          <th style="padding: 8px;">{{ data_q1_label }} (25 Delta IV)</th>
          <th style="padding: 8px;">{{ data_q2_label }} (25 Delta IV)</th>
          <th style="padding: 8px;">Difference Q1 vs Q2</th>
          <th style="padding: 8px;">{{ data_q3_label }} (25 Delta IV)</th>
          <th style="padding: 8px;">Difference Q1 vs Q3</th>
          <th style="padding: 8px;">Difference Q1 vs Q4</th>
          <th style="padding: 8px;">{{ data_q4_label }} (25 Delta IV)</th>
        </tr>
        <tr style="background-color: lightgreen;">
          <td style="padding: 8px;background-color: lightgreen;">{{ data_multi_expiry_eth_q1_iv }}</td>
          <td style="padding: 8px;background-color: pink;">{{ data_multi_expiry_eth_q2_iv }}</td>
          <td style="padding: 8px;background-color: ghostwhite;">{{ data_multi_expiry_eth_q2_iv_diff }}</td>
          <td style="padding: 8px;background-color: lightblue;">{{ data_multi_expiry_eth_q3_iv }}</td>
          <td style="padding: 8px;background-color: ghostwhite;">{{ data_multi_expiry_eth_q3_iv_diff }}</td>
          <td style="padding: 8px;background-color: lightblue;">{{ data_multi_expiry_eth_q4_iv }}</td>
          <td style="padding: 8px;background-color: ghostwhite;">{{ data_multi_expiry_eth_q4_iv_diff }}</td>
        </tr>
      </table>
    </div>
    <div class="table-wrapper btc-wrapper">
        <h3>BTC</h3>
        <table border="1" style="border-collapse: collapse;">
          <tr style="background-color: lightgray;">
            <th style="padding: 8px;">{{ data_q1_label }} (25 Delta IV)</th>
            <th style="padding: 8px;">{{ data_q2_label }} (25 Delta IV)</th>
            <th style="padding: 8px;">Difference Q1 vs Q2</th>
            <th style="padding: 8px;">{{ data_q3_label }} (25 Delta IV)</th>
            <th style="padding: 8px;">Difference Q1 vs Q3</th>
            <th style="padding: 8px;">{{ data_q4_label }} (25 Delta IV)</th>
            <th style="padding: 8px;">Difference Q1 vs Q4</th>
          </tr>
          <tr style="background-color: lightgreen;">
            <td style="padding: 8px;background-color: lightgreen;">{{ data_multi_expiry_btc_q1_iv }}</td>
            <td style="padding: 8px;background-color: pink;">{{ data_multi_expiry_btc_q2_iv }}</td>
            <td style="padding: 8px;background-color: ghostwhite;">{{ data_multi_expiry_btc_q2_iv_diff }}</td>
            <td style="padding: 8px;background-color: lightblue;">{{ data_multi_expiry_btc_q3_iv }}</td>
            <td style="padding: 8px;background-color: ghostwhite;">{{ data_multi_expiry_btc_q3_iv_diff }}</td>
            <td style="padding: 8px;background-color: lightblue;">{{ data_multi_expiry_btc_q4_iv }}</td>
            <td style="padding: 8px;background-color: ghostwhite;">{{ data_multi_expiry_btc_q4_iv_diff }}</td>
          </tr>
        </table>
      </div>
</div>


<h2>Volatility Carry Spread</h2>
<p>
<b>Positive Carry</b> = Go <b><span style="color:red">Short</span></b>;

Positive Carry means the RV is <b>below</b> IV, so this means that IV over estimated the underlying move, the actual move was less.  Benefit to net sellers.
<br/>
<b>Negative Carry</b> = Go <b><span style="color:green">Long</span></b>;
Negative Carry means RV is <b>above</b> IV, so exceeded the implied volatility, better for net buyers (ie: you want more volatility).
<br/><br/>
Spread is the difference between IV and RV (Realized Volatility).
<p/>
<div class="table-container">
  <div class="table-wrapper eth-wrapper">
      <h3>ETH</h3>
      <table border="1" style="border-collapse: collapse;">
        <tr style="background-color: lightgray;">
          <th style="padding: 8px;">ETH Today's Spread</th>
          <th style="padding: 8px;">ETH MIN Spread (LONG)</th>
          <th style="padding: 8px;">ETH MAX Spread (SHORT)</th>
        </tr>
        <tr style="background-color: lightgreen;">
          <td style="padding: 8px;background-color: ghostwhite;">{{ data_eth_today_spread }}</td>
          <td style="padding: 8px;background-color: lightgreen;">{{ data_eth_min_spread }}</td>
          <td style="padding: 8px;background-color: pink;">{{ data_eth_max_spread }}</td>
        </tr>
      </table>
    </div>
    <div class="table-wrapper btc-wrapper">
        <h3>BTC</h3>
        <table border="1" style="border-collapse: collapse;">
          <tr style="background-color: lightgray;">
            <th style="padding: 8px;">BTC Today's Spread</th>
            <th style="padding: 8px;">BTC MIN Spread (LONG)</th>
            <th style="padding: 8px;">BTC MAX Spread (SHORT)</th>
          </tr>
          <tr style="background-color: lightgreen;">
            <td style="padding: 8px;background-color: ghostwhite;">{{ data_btc_today_spread }}</td>
            <td style="padding: 8px;background-color: lightgreen;">{{ data_btc_min_spread }}</td>
            <td style="padding: 8px;background-color: pink;">{{ data_btc_max_spread }}</td>
          </tr>
        </table>
      </div>
</div>

<style>

  * {
    box-sizing: border-box;
  }

.table-container {
  display: flex;
  justify-content: center;
}

.table-wrapper {
  margin-right: 10px;
  font-size: 12px;
}

.eth-wrapper {
  background-color: lightblue;
  border: 1px solid #ccc;
  width: 100%;
  margin: 0;
}

.btc-wrapper {
  background-color: lightyellow;
  border: 1px solid #ccc;
  width: 100%;
  margin: 0;
}

.table-wrapper table {
  width: 100%;
}

p {
  font-size: 12px;
}

h3 {
  padding-left: 20px;
}

h2 {
  text-align: center;
  color: red
}


</style>
