<!--

<div class="table-container">
  <div class="table-wrapper">
      <h2>Nearest Friday's Call Options</h2>
      <table border="1" style="border-collapse: collapse;">
        <tr style="background-color: lightgray;">
          <th style="padding: 8px;">#</th>
          <th style="padding: 8px;">Instrument Name</th>
          <th style="padding: 8px;">IV</th>
          <th style="padding: 8px;">IVR</th>
          <th style="padding: 8px;">IVP</th>
          <th style="padding: 8px;">OI</th>
          <th style="padding: 8px;">DAILY VOL</th>
          <th style="padding: 8px;">WEEKLY LIQUIDITY</th>
          <th style="padding: 8px;">MONTHLY LIQUIDITY</th>
        </tr>
        {% for option in data_nearest_friday_call %}
        <tr style="background-color: lightgreen;">
          <td style="padding: 8px;">{{ loop.index }}</td>
          <td style="padding: 8px;">{{ option[0] }}</td>
          <td style="padding: 8px;">{{ option[1]|round(2) }}%</td>
          <td style="padding: 8px;">{{ option[2]|round(2) }}%</td>
          <td style="padding: 8px;">{{ option[3]|round(2) }}%</td>
          <td style="padding: 8px;">{{ option[4]|int }}</td>
          <td style="padding: 8px;">{{ option[5]|int }}</td>
          <td style="padding: 8px;">{{ option[6]|int }}</td>
          <td style="padding: 8px;">{{ option[7]|int }}</td>
        </tr>
        {% endfor %}
      </table>
    </div>

    <div class="table-wrapper">
        <h2>Nearest Friday's Put Options</h2>
        <table border="1" style="border-collapse: collapse;">
          <tr style="background-color: lightgray;">
            <th style="padding: 8px;">#</th>
            <th style="padding: 8px;">Instrument Name</th>
            <th style="padding: 8px;">IV</th>
            <th style="padding: 8px;">IVR</th>
            <th style="padding: 8px;">IVP</th>
            <th style="padding: 8px;">OI</th>
            <th style="padding: 8px;">DAILY VOL</th>
            <th style="padding: 8px;">WEEKLY LIQUIDITY</th>
            <th style="padding: 8px;">MONTHLY LIQUIDITY</th>
          </tr>
          {% for option in data_nearest_friday_put %}
          <tr style="background-color: lightpink;">
            <td style="padding: 8px;">{{ loop.index }}</td>
            <td style="padding: 8px;">{{ option[0] }}</td>
            <td style="padding: 8px;">{{ option[1]|round(2) }}%</td>
            <td style="padding: 8px;">{{ option[2]|round(2) }}%</td>
            <td style="padding: 8px;">{{ option[3]|round(2) }}%</td>
            <td style="padding: 8px;">{{ option[4]|int }}</td>
            <td style="padding: 8px;">{{ option[5]|int }}</td>
            <td style="padding: 8px;">{{ option[6]|int }}</td>
            <td style="padding: 8px;">{{ option[7]|int }}</td>
          </tr>
          {% endfor %}
        </table>
      </div>
</div>

-->

<div class="table-container">
  <div class="table-wrapper call-wrapper">
    <h3>Following Friday's Call Options</h3>
    <table border="1" style="border-collapse: collapse;">
      <tr style="background-color: lightgray;">
        <th style="padding: 8px;">#</th>
        <th style="padding: 8px;">Instrument Name</th>
        <th style="padding: 8px;">IV</th>
        <th style="padding: 8px;">IVR</th>
        <th style="padding: 8px;">IVP</th>
        <th style="padding: 8px;">OI</th>
        <th style="padding: 8px;">DAILY VOL</th>
        <th style="padding: 8px;">WEEKLY LIQUIDITY</th>
        <th style="padding: 8px;">MONTHLY LIQUIDITY</th>
      </tr>
      {% for option in data_following_friday_call %}
      <tr style="background-color: lightgreen;">
        <td style="padding: 8px;">{{ loop.index }}</td>
        <td style="padding: 8px;">{{ option[0] }}</td>
        <td style="padding: 8px;">{{ option[1]|round(2) }}%</td>
        <td style="padding: 8px;">{{ option[2]|round(2) }}%</td>
        <td style="padding: 8px;">{{ option[3]|round(2) }}%</td>
        <td style="padding: 8px;">{{ option[4]|int }}</td>
        <td style="padding: 8px;">{{ option[5]|int }}</td>
        <td style="padding: 8px;">{{ option[6]|int }}</td>
        <td style="padding: 8px;">{{ option[7]|int }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>

  <div class="table-wrapper put-wrapper">
    <h3>Following Friday's Put Options</h3>
    <table border="1" style="border-collapse: collapse;">
      <tr style="background-color: lightgray;">
        <th style="padding: 8px;">#</th>
        <th style="padding: 8px;">Instrument Name</th>
        <th style="padding: 8px;">IV</th>
        <th style="padding: 8px;">IVR</th>
        <th style="padding: 8px;">IVP</th>
        <th style="padding: 8px;">OI</th>
        <th style="padding: 8px;">DAILY VOL</th>
        <th style="padding: 8px;">WEEKLY LIQUIDITY</th>
        <th style="padding: 8px;">MONTHLY LIQUIDITY</th>
      </tr>
      {% for option in data_following_friday_put %}
      <tr style="background-color: lightpink;">
        <td style="padding: 8px;">{{ loop.index }}</td>
        <td style="padding: 8px;">{{ option[0] }}</td>
        <td style="padding: 8px;">{{ option[1]|round(2) }}%</td>
        <td style="padding: 8px;">{{ option[2]|round(2) }}%</td>
        <td style="padding: 8px;">{{ option[3]|round(2) }}%</td>
        <td style="padding: 8px;">{{ option[4]|int }}</td>
        <td style="padding: 8px;">{{ option[5]|int }}</td>
        <td style="padding: 8px;">{{ option[6]|int }}</td>
        <td style="padding: 8px;">{{ option[7]|int }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>

<style>
.table-container {
  display: flex;
}

.table-wrapper {
  margin-right: 10px;
  font-size: 12px;
}

.call-wrapper {
  background-color: lightgreen;
  border: 1px solid #ccc;
}

.put-wrapper {
  background-color: lightpink;
  border: 1px solid #ccc;
}

h3 {
  text-align: center;
  color: black
}

</style>
